<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfWLTrend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <WpfWLTrend.Properties.Settings>
            <setting name="LocalHost" serializeAs="String">
                <value />
            </setting>
            <setting name="Host" serializeAs="String">
                <value />
            </setting>
            <setting name="Instance" serializeAs="String">
                <value>SQLEXPRESS</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>forte</value>
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value>etrof</value>
            </setting>
            <setting name="WLDatabase" serializeAs="String">
                <value>ForteLayer</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>ForteData</value>
            </setting>
            <setting name="BSerRemote" serializeAs="String">
                <value>False</value>
            </setting>
        </WpfWLTrend.Properties.Settings>
    </userSettings>
</configuration>
